
  <swiper-container space-between="12"
    [attr.slides-per-view]="slidesPerView"
  
    
    >

      @for (item of dataList; track $index) {
      <swiper-slide>

        @if (type==="fleet") {
          <app-fleet-option [fleetOption]="item" [type]="type" (optionSelected)="onSelectOption($event)"></app-fleet-option>
        }@else if (type==="brands") {
          <app-brand [brand]="item"></app-brand>

        }@else if (type==="bestCars") {
          <app-car-item [routerLink]="['/fleet/fleet-details',12]"></app-car-item>

        }@else if (type==="fleetListing") {
          <app-fleet-option [fleetOption]="item" [isActive]=" type===type?$first:false"></app-fleet-option>

        }
        @else if (type==="fleetDetails") {
          <app-fleet-option [fleetOption]="item" [type]="type" (optionSelected)="onSelectOption($event)"></app-fleet-option>

        }
    </swiper-slide> 
  }
  </swiper-container>
