
<div class="cardStyle">
    <div class="flex flex-row border-b-[1px] mb-3">
      <div class="flex flex-col items-start w-3/4">
        <p>2.5 FHEV ST-Line Edition 5dr CVT Hybrid Estate</p>
        <span class="spanStyle">FORD KUGA</span>
      </div>
      <div class="w-[92px] h-[72px]">
        <img src="./assets/images/Img.jpg" class="w-[100%]" alt="">
      </div>
    </div>
    
    <div class="border-b-[1px] mb-3">
      <p class="text-xs font-medium">Feb 04 10:00 AM - Feb 06 10:00 AM <span class="spanStyle">(2 Days)</span></p>
      <span class="text-xs font-bold">100 SAR</span>
    </div>
    
    <div class="flex flex-wrap justify-between">
      <span class="spanStyle">Cancel Trip</span>
      <span class="-text--main-color text-[13px] font-semibold">View Details ></span>
    </div>

  </div>


  