
<div class="cardStyle" [class]="title=='fleetListing'?'mt-5':''">
  <div class="relative h-[144px]">
    <img src="./assets/images/CarShow.jpg" class="w-[100%] h-[100%]" alt="">
    <div class="special-offer">
      <i class="fa-solid fa-circle-xmark me-2" style="color: #CC9A06;"></i>
      <span>Special Offer</span>

    </div>
  </div>
    <div class="flex flex-row justify-center items-center border-b-[1px] py-4">
      <div class="flex flex-col items-start w-3/5">
        <p class="font-bold text-[12px] leading-4">2.5 FHEV ST-Line Edition 5dr CVT Hybrid Estate</p>
        <span class="spanStyle">FORD KUGA</span>
      </div>
      <div class="w-2/5 flex flex-col justify-center items-end ">
        <span class="spanStyle line-through self-center">125 SAR</span>
        <span class="-text--main-color text-[14px] leading-[18px] font-bold">100 SAR <span class="spanStyle"> / Day</span></span>
      </div>
    </div>
    
    <div class="grid grid-rows-2 grid-cols-2 gap-3 mt-4" [class]="title=='fleetListing'?'grid-cols-3':'grid-cols-2'">
      <div class="flex flex-wrap justify-start items-center">
        <ion-icon src="./../../../../assets/icons/Speed.svg"></ion-icon>
        <span class="text-[12px] font-medium text-[#222325] leading-4 ps-3">460m (8min)</span>

      </div>
      <div class="flex flex-wrap justify-start items-center">
        <ion-icon src="./../../../../assets/icons/Type.svg"></ion-icon>
        <span class="text-[12px] font-medium text-[#222325] leading-4 ps-3">Automatic</span>

      </div>
      <div class="flex flex-wrap justify-start items-center">
        <ion-icon src="./../../../../assets/icons/fleet.svg"></ion-icon>
        <span class="text-[12px] font-medium text-[#222325] leading-4 ps-3">Hatchback</span>

      </div>

    </div>
    
    

  </div>


  