/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

html,
body,
span,
img,
div,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    outline: none !important;
}

ion-cart {
    --overflow: hidden !important;
    overflow: hidden !important;
}

ion-app {
    background-color: white !important;
    background: white;
    --background: white;

}


ion-content.no-padding-bottom {
    --padding-bottom: 0% !important;
}

ion-title {
    line-height: 25px;
}

.spanStyle{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 1%;
    color: #74767E;


}

.cardStyle{
    padding: 16px;
    box-shadow: 0px 10px 16px 0px #020E1F0F;
    border: 0.5px solid #E4E5E7;
    border-radius: 8px;
}
.btn-second{
width: 75px;
height: 28px;
padding-top: 4px;
padding-right: 8px;
padding-bottom: 4px;
padding-left: 8px;
border-radius: 6px;
border: 1px solid #00B27C;
background-color: #E8FAF5;
color: #00B27C; 
font-size: 12px;
font-weight: 600px;
line-height: 100%;
}

.special-offer{
    @apply absolute bottom-0 left-0 h-[24px] w-[116px] bg-[#FFF9E6] rounded-[6px] px-[6px] py-[4px] text-[#CC9A06] font-bold text-[12px] leading-4 flex flex-wrap justify-center items-center;
}
.btn-border{
  border: 1px solid #E4E5E7 !important;
}
.btn-main{
    @apply text-white -bg--main-color rounded-[6px] px-3 py-[7px];
}


